@model CheckoutViewModel
@{
    ViewData["Title"] = "Index";

    decimal tax = (Model.Cart.CartItems.Sum(x => x.Product.Price * x.Quantity) ?? 0) * .10m;
    decimal shipping = 5m;
}

@if (Model.Cart.CartItems.Count == 0)
{
    <br />
    <h2> You Have No items To Check Out!</h2>
    <a asp-action="Index" asp-controller="Product">Get Shopping Again!</a>
}
else
{

    <br />


    <h2>Let's Get These Burgers In The Mail Shall We?</h2>

    <div class="row">
        <div class="col-8">

            <div asp-validation-summary="All"></div>
            <form method="post" id="checkout">
                <div class="card">
                    <div class="card-header" data-toggle="collapse" data-target="#contact">
                        <h5 class="card-title">Contact</h5>
                    </div>
                    <div class="card-body collapse show" id="contact" data-parent="#checkout">
                        <div class="form-group">
                            <label asp-for="ContactEmail"></label>
                            @if (string.IsNullOrEmpty(Model.ContactEmail))
                            {
                                <input type="email" asp-for="ContactEmail" class="form-control" required placeholder="Email Address" />
                            }
                            else
                            {
                                <input type="email" asp-for="ContactEmail" class="form-control" disabled />
                                <input type="hidden" asp-for="ContactEmail" />
                            }
                        </div>
                        <div class="form-group">
                            <label asp-for="ContactPhoneNumber"></label>
                            @if (string.IsNullOrEmpty(Model.ContactPhoneNumber))
                            {
                                <input type="tel" asp-for="ContactPhoneNumber" class="form-control" required placeholder="Phone Number" />
                            }
                            else
                            {
                                <input type="tel" asp-for="ContactPhoneNumber" class="form-control" disabled />
                                <input type="hidden" asp-for="ContactPhoneNumber" />
                            }
                        </div><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#shipping">Next</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" data-toggle="collapse" data-target="#shipping">
                        <h5 class="card-title">Shipping</h5>
                    </div>
                    <div class="card-body collapse" id="shipping" data-parent="#checkout">

                        <div class="form-group">
                            <label asp-for="ShippingAddress"></label>
                            <input type="text" asp-for="ShippingAddress" required class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="ShippingLocale"></label>
                            <input type="text" asp-for="ShippingLocale" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="ShippingCountry"></label>
                            <select asp-for="ShippingCountry" required class="form-control">

                                <option value="Canada">Canada</option>
                                <option value="United States of America">United States of America</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="ShippingRegion"></label>
                            <input type="text" asp-for="ShippingRegion" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="ShippingPostalCode"></label>
                            <input type="text" asp-for="ShippingPostalCode" required class="form-control" />
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {

                        }

                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#billing">Next</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" data-toggle="collapse" data-target="#billing">
                        <h5 class="card-title">Billing</h5>
                    </div>
                    <div class="card-body collapse" id="billing" data-parent="#checkout">
                        <div class="form-row">
                            <div class="form-group col-8">
                                <label asp-for="BillingCardNumber"></label>
                                <input type="text" asp-for="BillingCardNumber" required class="form-control" minlength="16" maxlength="16" placeholder="e.g. 4111111111111111" />
                            </div>
                            <div class="form-group col-4">
                                <label asp-for="BillingCardVerificationValue"></label>
                                <input type="text" asp-for="BillingCardVerificationValue" required class="form-control" minlength="3" maxlength="3" placeholder="e.g. 123" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-8">
                                <label asp-for="NameOnCard"></label>
                                <input type="text" asp-for="NameOnCard" required class="form-control" placeholder="e.g. Burger Lover" />
                            </div>
                            <div class="form-group col-2">
                                <label asp-for="BillingCardExpirationMonth"></label>
                                <select asp-for="BillingCardExpirationMonth" class="form-control col" required>
                                    <option></option>
                                    @for (int i = 1; i <= 12; i++)
                                    {
                                        <option value="@i">@i.ToString().PadLeft(2, '0')</option>

                                    }
                                </select>

                            </div>

                            <div class="form-group col-2">
                                <label>&nbsp;</label>
                                <select asp-for="BillingCardExpirationYear" class="form-control col" required>
                                    <option></option>
                                    @for (int i = DateTime.Now.Year; i <= DateTime.Now.AddYears(6).Year; i++)
                                    {
                                        <option value="@i">@i.ToString()</option>

                                    }
                                </select>

                                <br />
                            </div>
                            
                           

                            

            </form>

            <form>
                <div>
                    <button class="btn btn-primary" asp-controller="Receipt" asp-action="index">Place Order</button>
                </div>
            </form>

        </div>
        <div class="col-6">
            <table class="table table-success">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cartItem in Model.Cart.CartItems)
                    {
                        <tr>
                            <td>@cartItem.Product.Name</td>
                            <td>@((cartItem.Product.Price ?? 0).ToString("c"))</td>
                            <td>@cartItem.Quantity</td>
                            <td>@((cartItem.Quantity * (cartItem.Product.Price ?? 0)).ToString("c"))</td>
                        </tr>

                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3">Subtotal</th>

                        <th>@(Model.Cart.CartItems.Sum(x => x.Quantity * (x.Product.Price ?? 0)).ToString("c"))</th>
                    </tr>
                    <tr>
                        <th colspan="3">Tax-10%</th>
                        <th>@tax.ToString("C") </th>
                    </tr>
                    <tr>
                        <th colspan="3">Shipping</th>
                        <th>Free ;)</th>
                    </tr>
                    <tr>
                        <th colspan="3">Total</th>
                        <th>@(Model.Cart.CartItems.Sum(x => x.Quantity * (x.Product.Price ?? 0) + @tax).ToString("c")) </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

}